.item {
  display: flex;
  align-items: center;
  width: 250px;
  margin-bottom: 10px;
  padding: 5px 20px 5px 20px;
  background-color: white;
  border: 1px solid rgba(34, 60, 80, 0.2);
  border-radius: 5px;
}

.status {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  border-radius: 50%;
}

.avatar {
  margin-right: 20px;
}

.name {
  font-size: 17px;
  font-weight: 500;
}